$red: #ff4f19;
$blue: #0167f9;
$dark-blue: #1151b3;
$green: #3bb54a;
$bgc: #f7f7f8;
$light-gray: #f5f5f5;
$gray: #c4c4C4;
$strong-gray: #929292;
$black: #000;
$white: #fff;

$font-XS: 14px;
$font-S: 18px;
$font-M: 21px;
$font-L: 32px;
$font-XL: 48px;
$font-XXL: 72px;

$font-size-XS: 14px;
$font-size-S: 18px;
$font-size-M: 21px;
$font-size-L: 32px;
$font-size-XL: 48px;
$font-size-XXL: 72px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$margin-standard: 20px;
