$red: #ff4f19;
$red-validate: #ff1919;
$blue: #0167f9;
$dark-blue: #1151b3;
$green: #3bb54a;
$bgc: #eee;
$light-gray: #ececec;
$gray: #c4c4C4;
$strong-gray: #929292;
$black: #000000;
$white: #fff;
$blackout: #111652;

$font-size-main: 10px;
$font-size-XXS: 1em;
$font-size-XS: 1.4em;
$font-size-S: 1.8em;
$font-size-M: 2.1em;
$font-size-L: 3.2em;
$font-size-XL: 4.8em;
$font-size-XXL: 7.2em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$margin-standard: 20px;
